*{
    box-sizing: border-box;

}
body {
    background-color: beige;
    font-family:  sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container{
    background-color: rgb(173, 196, 216);
    border-radius: 6px;
    box-shadow: 10px 20px 25px rgba(0,0,0,0.4);
    overflow: hidden;
    max-width: 100%;
    width: 400px;

}
.head{
border-bottom: 1px solid antiquewhite f ;
background-color: rgb(55, 134, 204);
padding: 20px 40px;
 
}
.head h2 {
    margin: 0;
    text-align: center;
}
.form{
    padding: 30px 40px;

}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;

}
.form-control input{
    border: 2px solid gray;
    border-radius: 4px;
    display: inline-block;
    font-size: larger;
    padding: 10px;
    width: 100%;
}
.form-control input:focus {
    outline: none;
    border-color: azure;

}
.form-control.success input{
    border-color: rgb(5, 145, 98);
}
.form-control.error input{
    border-color: rgba(235, 8, 57, 0.836);
}
.form-control i{
     visibility: hidden; 
     position: absolute;
     top: 40px;
     right: 10px;

}
.form-control.success i.fa-check-circle {
    color:rgb(31, 179, 129);
    visibility: visible;
    
}
.form-control.form-control.error i.fa-exclamation-circle {
    color:rgb(231, 58, 58);
    visibility: visible;
    
}

.form-control small {
    color: red;
    position: absolute;
    left: 0;
    bottom: 0;
    visibility: hidden;
}
.form-control.error small {
    visibility: visible;

}
.form button {
    background-color: rgb(116, 223, 116);
    border: 2px;
    color: azure;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 6px ;
}




